.custom-text {
    color: #000080 !important;
}

/* Estilo de las tarjetas con efecto hover */
.card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-10px); /* Sube ligeramente la tarjeta */
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1); /* Agrega sombra */
}

/* Efecto de hover en la tarjeta */
.card-title {
    color: #000080 !important;
}

.card-body {
    padding: 20px;
}

/* Efecto de suavizado cuando el usuario pasa por encima */
.card:hover .card-body {
    background-color: #f8f9fa;
}

.carousel-custom-image {
    width: 100%;
    height: 450px; /* Altura ajustada */
    object-fit: cover; /* Mantiene la relación de aspecto */
}

/* Efecto de transición en el título de la sección */
.section-title h2 {
    color: #000080 !important;
    transition: color 0.3s ease;
}

.section-title h2:hover {
    color: #0056b3; /* Cambia el color al pasar el ratón */
}

.card-img-top {
    width: 100%;
    height: 200px; /* Altura ajustada para la imagen de la tarjeta */
    object-fit: cover; /* Mantiene la relación de aspecto */
}