.text-primary {
    color: #007bff !important;
}
.text-secondary {
    color: #6c757d !important;
}
.shadow-lg {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.custom-img {
    height: auto;
    width: 100%;
    max-height: 600px;
    object-fit: cover;
}
.rounded {
    border-radius: 0.3rem;
}
